{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Cars - AutoPrime Veículos</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    
    {% block content %}   
    <body>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">AutoPrime Veículos</h1>
                        <p class="lead fw-normal text-white-50 mb-0">O melhor projeto de revenda de veiculos</p>
                    </div>
                </div>
            </header>
                    
        <div class="container px-4 px-lg-5 my-5 text-center ">
            <h3 class="h3 display-4 fw-bolder ">Nossos Carros</h3>
        </div>

        <form method="GET" action="{% url 'cars_list' %}" class="group">
            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
            <input placeholder="Buscar carro..." name="search" type="search" class="input">
            

        </form>
        <!-- Section-->
         
         
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                {% if cars %}
                
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for car in cars %}
                    
                    <div class="col mb-5">
                      <a href="{% url 'car_detail' car.pk %}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ car.brand }} {{ car.model }} {{ car.factory_year }}</h5>
                                    <!-- Product price-->
                                    R$ {{ car.value }}
                                </div></a>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    
                    
                {% endfor %}
                </div>
            </div>
                  {% else %}
                  <p class="no-results">Nenhum carro encontrado.</p>
                  {% endif %}

            <div>
              <hr class="divider mb-5 mt-5">
            </div>  

            <!-- About US -->
            <section class="ezy__about6 light" id="ezy__about6">
                <div class="container">
                  <div class="row justify-content-center text-center mb-5">
                    <div class="col-12 col-md-8">
                      <h2 class="ezy__about6-heading fw-bold mb-4">Sobre nós</h2>
                      <p class="ezy__about6-sub-heading">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque, arcu in venenatis lacinia, 
                        arcu sapien ullamcorper neque, ac vulputate eros metus ac libero. Ut in mi elit. Suspendisse et purus lorem. 
                      </p>
                    </div>
                  </div>
                  <div class="row align-items-center justify-content-center mt-5">
                    <div class="col-12 col-md-5 order-2">
                      <div class="d-flex flex-column justify-content-center ezy__about6-content pe-md-5">
                        <h4 class="fw-bold mb-3">A jornada.</h4>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque, arcu in venenatis lacinia, 
                            arcu sapien ullamcorper neque, ac vulputate eros metus ac libero. Ut in mi elit. Suspendisse et purus lorem. 
                            Nunc rhoncus facilisis ante. In tincidunt et nisl non porta. Cras at sapien gravida, molestie nisl eget, laoreet libero. 
                            Nunc enim lacus, tempor eget scelerisque vitae, efficitur non ante.
                        </p>
                      </div>
                    </div>
                    <div class="col-12 col-md-5 order-1 order-md-2 mb-4 mb-md-0">
                      <div>
                        <img src="https://images.pexels.com/photos/136872/pexels-photo-136872.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img-fluid card" />
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center justify-content-center mt-5">
                    <div class="col-12 col-md-5 order-2">
                      <div class="d-flex flex-column justify-content-center ezy__about6-content ps-md-5">
                        <h4 class="fw-bold mb-3">O caminho para o sucesso.</h4>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque, arcu in venenatis lacinia, 
                            arcu sapien ullamcorper neque, ac vulputate eros metus ac libero. Ut in mi elit. Suspendisse et purus lorem. 
                            Nunc rhoncus facilisis ante. In tincidunt et nisl non porta. Cras at sapien gravida, molestie nisl eget, laoreet libero. 
                            Nunc enim lacus, tempor eget scelerisque vitae, efficitur non ante. Donec eleifend nibh vitae est tristique posuere.
                        </p>
                      </div>
                    </div>
                    <div class="col-12 col-md-5 order-1 mb-4 mb-md-0">
                      <div>
                        <img src="https://images.pexels.com/photos/3311574/pexels-photo-3311574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img-fluid card" />
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div>
                <hr class="divider mb-5 mt-5">
              </div> 
        </section>

       
        <p>estou aqui</p>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
    <!-- {% endblock content %} -->

</html>
